.header {
    display: flex;
    flex-direction: row;
    border: 1px solid gray;
}

.title {
    font-size: 20px;
    align-self: center;
    color: purple;
    text-transform: uppercase;
    
}

.container__main {
    display: flex;
    flex-direction: row;
}

.container__main__svg {
    background: #c4bcc4;
    margin: 10px 0px;
}

.container__companies {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.container__companies__charts {
    display: flex;
    flex-direction: row;
    margin: 10px;
}

.joined__companies__chart {
    max-width: 400px;
    max-height: 300px;
}

.industries__chart {
    max-width: 300px;
    max-height: 300px;
}

.container__companies__table {
    display: flex;
    max-height: 260px;
    overflow-y: scroll;
    verflow-x: scroll;
    border: 1px solid pink;
    margin: 10px;
}

.table__names, .table__industries, .table__valuation, .table__raised {
    display: flex;
    flex-direction: column;
}

span {
    font-size: 15px;
}

p {
    margin: 0px 20px;
}


